<br>
<div class="container">
    <span matBadge="4" matBadgeOverlap="false">Some Text</span> <br><br>
    <button mat-raised-button matBadge="4">The Button</button> <br><br>
    <button mat-raised-button color="accent" matBadge="3" matBadgeColor="primary" matBadgePosition="before">
        The 2nd Button
    </button>

    <br><br>
    <span matBadge="17" matBadgePosition="below" matBadgeOverlap="false">Notification</span>

    <br><br>
    <span matBadge="17" matBadgePosition="above before" matBadgeOverlap="false">Notification</span>

    <br><br>
    <span matBadge="17" matBadgePosition="below before" matBadgeOverlap="false">Notification</span>

    <br><br>
    <span matBadge="17" matBadgeSize="large" matBadgeOverlap="false">Notification</span>

    <br><br>
    <span matBadge="17" matBadgeSize="small" matBadgeOverlap="false">Notification</span>


</div>