<h1>Plain heading</h1>

<h1 class="mat-display-1">The main Heading</h1>
<h1 class="mat-display-2">The Second Main heading</h1>
<h1 class="mat-display-3">The third main heading</h1>
<h1 class="mat-display-4">The forth main heading</h1>

<h2 class="mat-h2 mat-haedline"> Headline</h2>
<h2 class="mat-h2 mat-title">Title</h2>
<h3 class="mat-h3 mat-subheading-1">Sub heading</h3>
<h3 class="mat-h3 mat-subheading-2">Sub heading 2</h3>

<p class="mat-body mat-body-1">Body</p>
<p class="mat-body-strong mat-body-2">Body 2</p>