<div class="card-class">
    <mat-card>A basic material card</mat-card>

    <br><br>

    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>The main title</mat-card-title>
                <mat-card-subtitle>The sub title</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        
        <mat-card-content>
            <p>Some dummy text for the card</p>
        </mat-card-content>

        <mat-card-action>
            <button mat-raised-button>Share</button>
            <button mat-raised-button>close</button>
        </mat-card-action>

        <mat-card-footer>
            The card footer
        </mat-card-footer>
    </mat-card>
</div>
