<div class="container">

    <p>Some text</p>
    <mat-divider></mat-divider>
    <p>Some other text</p>
    <mat-divider></mat-divider>

</div>

<mat-accordion>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>The Expansion Title</mat-panel-title>
        <mat-panel-description>This is the some main data.</mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the data which we will see upon expansion.</p>
    <mat-action-row>
        <button mat-button>Click here</button>
    </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>The Second title</mat-panel-title>
        <mat-panel-description>The Second Description</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Some basic Text</p>
</mat-expansion-panel>
</mat-accordion>

